<h2>Les différents vaisseaux du monde de Star Wars</h2>

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <th>photo</th>
      <th>Nom</th>
      <th>Nombre Passager</th>
     
      <th>Description</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let vaisseau of this.vaisseau">
        <td><img src="{{vaisseau.img}}" width="150px" alt=""/></td>
        <td>{{ vaisseau.nom }}</td>
        <td>{{ vaisseau.nbPassenger }}</td>
        <td>{{ vaisseau.description }}</td>
        <td> <a class="badge badge-info"[routerLink]="['/vaisseau', vaisseau.id]">Voir de détail du Vaisseau</a>
          <a class="badge badge-secondary"[routerLink]="['/vaisseau/update', vaisseau .id]"> Modifier {{vaisseau.nom }} </a>
              <a class="badge badge-danger"(click)="askRemoveShip(vaisseau)"> Supprimer Vaisseau </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/vaisseau/add" class="btn btn-primary">
    ajouter un vaisseau</a>
  
 