<h2>Les différentes planétes du monde de Star Wars</h2>

<table class="table table-striped">
  <thead class="thead-dark">
    <th>Photo</th>
    <th>Nom</th>
    <th>Nombre d'habitant</th>
    <th>Allegiance</th>
    <th>Nombre de km depuis la terre</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let planet of this.planets">
      <td><img src="assets/{{ planet.img }}" width="100px" alt="" /></td>
      <td>{{ planet.nom }}</td>
      <td>{{ planet.nbHabitant }}</td>
      <td>{{ planet.allegiance }}</td>
      <td>{{ planet.nbKmTerre }}</td>
      <td>
        <a [routerLink]="['/planets', planet.id]">
          voir le détail de la planéte {{ planet.nom }}</a>
      </td>
      <!-- URL, suivit du modificateur dynamique -->
      <!-- Ici l'ID de la planete selectionnée -->
    </tr>
  </tbody>
</table>

<a routerLink="/planets/add" class="btn btn-primary">
  ajouter une planete</a>

  <br>
  {{planets | json}}
