

<h1>Les différentes planétes du monde de Star Wars</h1>

<div class="container" *ngFor="let planet of this.planets">
  <div class="nom">
    <h2>{{planet.nom}}</h2>
  </div>
  <div class="img">
    <img src="assets/{{ planet.img }}" width="800px" alt="" >
  </div>
  <div class="content">
    <p> {{planet.description}}</p>
  </div>
  <div class="choix">
    <a class="badge badge-info"[routerLink]="['/planets', planet.id]">
      voir le détail de la planéte {{ planet.nom }}</a> 
      <a class="badge badge-secondary"[routerLink]="['/planet/update', planet.id]"> Modifier la planète</a>

      <a class="badge badge-danger"(click)="askRemovePlanet(planet)"> Supprimer la planète {{ planet.nom }} </a>
  </div>

</div>
<a routerLink="/planets/add" class="btn btn-primary">
  ajouter une planete</a>
