
h1 {
    text-align: center;
}
a {
    color: black;
    margin: 1rem;
    padding: 0.2rem;
    width: 200px;
    cursor: pointer;
}

.img {
    width: 800px;
}

.container {
    width: 800px;
    text-align: center;
}

p, h1, h2 {
    color: white;
}